apiVersion: v1
kind: Service
metadata:
  name: {{ include "ebook-tools.fullname" . }}-backend
  labels:
    {{- include "ebook-tools.componentLabels" (dict "root" . "component" "backend") | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 8000
      targetPort: 8000
      protocol: TCP
      name: http
  selector:
    {{- include "ebook-tools.componentSelectorLabels" (dict "root" . "component" "backend") | nindent 4 }}
