apiVersion: v1
kind: Service
metadata:
  name: {{ include "ebook-tools.fullname" . }}-frontend
  labels:
    {{- include "ebook-tools.componentLabels" (dict "root" . "component" "frontend") | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
      name: http
  selector:
    {{- include "ebook-tools.componentSelectorLabels" (dict "root" . "component" "frontend") | nindent 4 }}
